.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background: #0a0a0a;
  color: white;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-btn {
  padding: 10px 18px;
  background: #4f46e5;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
